@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600&family=Open+Sans:wght@300;400&family=Roboto:wght@300&display=swap');
@import "react-loading-skeleton/dist/skeleton.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --main-bg: #ffffff;
  --primary-bg: #cb38d8;
  --footer-bg: #002131;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  outline: none; 
}

body {
  min-height: 100vh;
  background: var(--main-bg);
  width: 100vw;
  overflow-x: hidden;
}

p {
  font-family: "Nunito sans", sans-serif;
}

a {
  text-decoration: inherit;
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

h6 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #0000001e;
}

/* Custom shadows */
.shadow-custom {
  box-shadow: 0 8px 33px #00000012; 
}


label::after {
  content: " *";
}

textarea {
  resize: none;
}

button {
  padding: 10px 20px;
  border: none;
  background: var(--primary-bg);
  color: var(--main-bg);
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'Open-sans', sans-serif;
  font-weight: 600;
  border-radius: 7px;
  cursor: pointer;
  width: fit-content;
  transform: background .7s;
}
 
button:hover:not(:disabled, .change-paa-btn) {
  opacity: 0.7;
}

button:disabled,
input:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}


section {
  overflow-y: hidden;
  width: 100vw;
  padding: 0 70px;
}

.section-heading {
  font-size: 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #242424;
}

@media screen and (max-width: 625px) {
  button {
    font-size: 14px;
    font-weight: 600;
    padding: 8px 15px;
  }

  .section-heading {
    font-size: 24px;
    text-align: center;
  }

  section {
    padding: 0 15px;
  }
}