.courses-section {
    padding-block: 35px;
}

.courses-section .course-category {
    display: flex;
    align-items: center;
    gap: 20px;
}

.courses-section .course-category span {
    font-size: 16px;
    font-weight: 500;
    padding: 14px;
    font-family: 'Inter', sans-serif;
    color: #757575;
    margin-top: 30px;
    cursor: pointer;
}

.courses-section .course-category span.active {
    border-bottom: 0.7px solid #272727;
    color: #242424;
}

.courses-section hr {
    border-color: #00000028;
    border-width: 0.7px;
    margin-bottom: 30px;
}

.course-container {
    width: 100%;
}

.courses-section .course-container .slick-slider .slick-track { 
    display: flex;
    flex-direction: row;
    gap: 30px;
    overflow: hidden;
}
 
.course-container .course {
    background: #ffffff;
    width: 370px;
    height: 480px;
    border-radius: 20px;
    overflow: hidden; 
    box-shadow: 0 3px 26px #0000000e;
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;
}

.course-container .course .image {
    width: 100%;
    height: 200px;
}

.course-container .course .image img {
    width: 100%;
    height: 100%;
}

.course-container .course .details {
    width: 90%;
    padding: 14px 0 40px 0;
    border-bottom: 2px solid #00000009;
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-family: 'Inter', sans-serif;
    color: #1b2124;
    text-transform: capitalize;
}

.course-container .course .details h4 {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.6rem;
    margin-bottom: 10px;
    color: #000000c2;
}

.course-container .course .details p{
    font-family: 'Inter', sans-serif;
    font-size: 14.3px;
    font-weight: 700;
    color: #3c4140fd;
    display: flex;
    gap: 12px;
    align-items: center;
}

.course-container .course .details p svg {
    font-size: 17px;
    color: #00000057;
}

.course-container .course .price {
    padding: 15px 25px;
    font-size: 1.25rem;
    font-family: 'Inter', sans-serif;
    color: #000000ee;
    align-self: flex-start;
    font-weight: 600;
}

.course-container .course .btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;  
    overflow: hidden;
    border-radius: o o 20px 20px; 
    position: absolute;
    bottom: 0;
}

.course-container .course .btn-container button {
    width: 50%; 
    border-radius: 0;
}

.course-container .course .btn-container button:first-child {
    background: #cb38d821;
    color: var(--primary-bg);
}

@media screen and (max-width: 625px) {
    .course-container .course {
        width: 98%;
    }
}