.input-wrapper {
    position: relative;
}

.input-wrapper input, .mytextarea {
    background: none;
    width: 100%;
    padding: 11px 10px;
    border: 1px solid #00000025;
    border-radius: 3px;
    font-size: 17px;
    color: #000000c4;
    font-family: "Inter", sans-serif;
    transition: border-color 0.3s ease;
}

.input-wrapper input:focus, .mytextarea:focus {
    border-color: #007bff;
}

.input-wrapper label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #8f8f8f;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.input-wrapper input:focus~label,
.input-wrapper input:valid~label,
.input-wrapper input:disabled~label {
    top: 0;
    font-size: 12px;
    color: #007bff;
    background: #ffffff;
    padding: 1px 3px;
}

/* for text area */
.mytextarea { 
    padding: 15px;
}
 
.mytextarea ~ label {
    top: 7px; 
}

.mytextarea:focus~label, .mytextarea:valid~label {
    transform: translate(-5px, -80%);
    font-size: 12px;
    opacity: 1;
    background: #ffffff;
    padding: 1px 3px;
    color: #007bff; 
}