nav {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    height: 75px;
    background: transparent;
    box-shadow: 0 8px 24px #0000000f;
    position: sticky;
    top: 0;
    z-index: 99;
    background: #ffffff;
}

nav .logo {
    width: 100px;
}

nav .logo img {
    width: 150%;
}

nav .search-bar {
    max-width: 800px;
    width: 50%;
    padding: 3px;
    border: 1px solid #0000001f;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
}

nav .search-bar svg {
    font-weight: 500;
    color: #00000088;
}

nav .search-bar input {
    width: 90%;
    border: none;
    font-size: 17px;
    color: #444444;
    padding: 7px;
}


nav .profile {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

nav .profile img,
nav .profile svg {
    height: 100%;
    width: 100%;
}


/* modal */
/* modalStyles.css */
.custom-modal {
    /* Style the modal container */
    background-color: transparent;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: auto;
    width: auto;
    position: absolute;
    top: -10px;
    right: 18px;
    padding: 70px 20px 0 0;
}

.modal-content {
    /* Style the modal content */
    position: fixed;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 3px 14px #0000001a;
    width: 315px;
    max-width: 315px;
    min-width: 260px;
    z-index: 100;
}

.modal-content>div {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding-bottom: 17px;
    border-bottom: 1.2px solid #00000015;
    margin-bottom: 15px;
}

.modal-content>div img, .modal-content>div svg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.modal-content>div h2 {
    padding-top: 2px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: #000000e3;
    font-weight: 700;
    text-transform: capitalize;
}

.modal-icon {
    color: #000000;
    font-size: 20px;
    font-weight: 300;
    fill-opacity: 0.6;
    fill: '0';
    stroke: #00000017;
    stroke-width: 0;
}

.modal-option {
    /* Style the options in the modal */
    display: flex;
    gap: 25px;
    align-items: center;
    cursor: pointer;
    color: #333333cc;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 10px;
    padding: 10px 10px;
    margin-block: 4px;
    margin-inline: 8px;
    transition: background-color 0.5s ease;
    border-radius: 3px;
}

.modal-option.active {
    background-color: #ececffb2;
    color: var(--primary-bg);
    font-weight: 600;
    border-radius: 5px;
}

.modal-option.active .modal-icon {
    color: var(--primary-bg);
    font-weight: 600;
}
 
.modal-option:hover {
    background-color: #ececff;
}



@media screen and (max-width: 1000px) {
    nav {
        padding: 0 20px;
        height: 70px;
        box-shadow: 0 3px 9.7px #00000010;
    }

    nav .search-bar {
        display: none;
    }
}

@media screen and (max-width: 625px) {
    nav {
        height: 65px;
    }

    nav .logo {
        width: 65px;
    }
}